/*=======================

    TEXT STYLES

=======================*/

/*  HEADINGS   */

.headline-washed-blue {
    color: #32325d;
    font-weight: 800;
}

/*  BODY TEXT   */

.body-text-dark {
    color: rgb(97, 122, 139); font-size: 1em;
}

/**======================

    OVERRIDES

=========================*/

.account-link-item p {
    font-size: 0.8rem;
}

/* django crispy-forms '*' asterisks override */
.asteriskField {
  display: none;
}

.input {
  width: 100%;
  border-radius: 5px;
}

/*=======================

    ANIMATIONS

========================*/

/*  CREDIT CARD     */

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

card-font{
  box-sizing:border-box;
  font-family: 'Space Mono', monospace;
}

.title {
    margin-bottom: 30px;
    color: #162969;
}


.ccard{
width: 320px;
height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;
}


.ccard__part{
  box-shadow: 1px 1px #aaa3a3;
    top: 0;
  position: absolute;
z-index: 1000;
  left: 0;
  display: inline-block;
    width: 320px;
    height: 190px;
    /*background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right bottom, #fd696b, #fa616e, #f65871, #f15075, #ec4879);*/ /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    animation: polish 5s infinite;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

@keyframes polish {
    0% {
      background-position: right;    
    }
    100% {
      background-position: /*left; it's the default value, no need to define it*/
    }
  }

.ccard__front{
  padding: 18px;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
}

.ccard__back {
  padding: 18px 0;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
}

.ccard__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.ccard__logo {
    height: 16px;
}

.ccard__front-logo{
      position: absolute;
    top: 18px;
    right: 18px;
}
.ccard__square {
    border-radius: 5px;
    height: 30px;
}

.ccard_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ccard__space-75 {
    width: 75%;
    float: left;
}

.ccard__space-25 {
    width: 25%;
    float: left;
}

.ccard__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}

.ccard__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ccard__back-content {
    padding: 15px 15px 0;
}
.ccard__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.ccard__secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.ccard__secret:before{
  content:'';
  position: absolute;
top: -3px;
left: -3px;
height: calc(100% + 6px);
width: calc(100% - 42px);
border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.ccard__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.ccard__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.ccard:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

}

.ccard:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}


/*==========================
    END ANIMATED CREDIT CARD
===========================*/


.l-line {
  background-color: #fff;
}